@model Tuple<ExtensionFieldDefinitionViewModel, bool>

@if (Model.Item2)
{
    <tr>
        <th><label asp-for="Item1.Name"></label></th>
        <th><label asp-for="Item1.EntityType"></label></th>
        <th><label asp-for="Item1.DataType"></label></th>
        <th><label asp-for="Item1.DefaultValue"></label></th>
        <th></th>
        <th></th>
    </tr>
}
else
{
    <tr>
        <td>@Model.Item1.Name</td>
        <td>@Model.Item1.EntityType</td>
        <td>@Model.Item1.DataType</td>
        <td>@Model.Item1.DefaultValue</td>
        <td><a class="ml-btn" asp-controller="ExtensionFieldDefinitionAdmin" asp-action="Edit" asp-route-extensionFieldDefinitionId="@Model.Item1.Id"><span class="fa fa-edit" style="margin-right: 4px;"></span>Edit</a></td>
        <td><a class="ml-btn" asp-controller="ExtensionFieldDefinitionAdmin" asp-action="Delete" asp-route-extensionFieldDefinitionId="@Model.Item1.Id"><span class="fa fa-remove" style="margin-right: 4px;"></span>Delete</a></td>
    </tr>
}
